{% load static %}
<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/home"><img src="{% static 'images/home/logo.png'%}" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="{% static 'login.html"><i class="fa fa-lock'%}"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Home</a></li>
								<li><a href="/contact">Contact</a></li>
                                <li><a href="/aboutus">Aboutus</a></li>
                                <li><a href="/references">References</a></li>
							</ul>
						</div>
					</div>
                    <script>
                        $(function() {
                            $("#query").autocomplete({
                                source: "/search_auto/",
                                select: function (event, ui) { //item selected
                                    AutoCompleteSelectHandler(event, ui)
                                },
                                minLength: 2,
                            });
                        });

                        function AutoCompleteSelectHandler(event, ui)
                        {
                            var selectedObj = ui.item;
                        }
                    </script>
					<div class="col-sm-3">
						<div class="search_box pull-right">
                            <form action="/search/" method="post">
                            {% csrf_token %}
                            <input id="query" name="query" class="search_box pull-right" type="text" placeholder="Search">
                            <select name="catid"  class="input search-categories">
                                <option value="0">All Categories</option>

                                {% load mptt_tags %}

                                {% recursetree category %}
                                    {% if node.is_leaf_node %}
                                        <option value="{{ node.id }}">{{ node.title }}</option>
                                    {% endif %}
                                    {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                    {% endif %}
                                {% endrecursetree %}
                            </select>
                            </form>
                        </div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->