{%  extends "homebase.html" %}

{% block title %}{{setting.title}}{% endblock %}

{% block keywords %}{{setting.keywords}}{% endblock %}

{% block description %}{{setting.description}}{% endblock %}
{% block head %}<link rel='shorcut icon' type="image/x-icon" href="{{setting.icon.url}}"/>{% endblock %}

{% block content %}
    <div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">References</li>
				</ol>
    </div><!--/breadcrums-->
    <div class="section">
        <div class="container">
            <div class="row">
                {{ setting.references | safe }}
            </div>
        </div>
    </div>



{% endblock %}