{% load static %} 
<section id="slider"><!--slider-->
     {% if page != "home" %}
            <div style="display: none;">
        {% else %}
            <div style="display: block;">
        {% endif %}
		    <div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1>E-SHOPPER</h1>
									<h2>Hayallerinize ulaşmak bir tık uzağınızda...</h2>
									<p>Arzu ettiğiniz araçlara en uygun fiyata ulaşmanın keyfiyle yaşayın.</p>
								</div>
                                <div class="col-sm-6">
									<img src="{% static 'images/home/resim.jpg'%}" style="height:300px" alt="" />
								</div>
							</div>
                            {% for rs in sliderdata %}
							<div class="item">
								<div class="col-sm-6">
									<h1>{{ rs.title }}</h1>
									<p>{{ rs.description }}</p>
                                    <a href="/product/{{ rs.id }}/{{ rs.slug }}" button type="button" class="btn btn-default get">Detail</a>
								</div>
								<div class="col-sm-6">
									<img src="{{ rs.image.url }}" style="height: 300px" />
								</div>
							</div>
                            {% endfor %}

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
    </div>
</section><!--/slider-->