{%  extends "homebase.html" %}

{% block title %}{{ user.first_name }} Change Password {% endblock %}

{% block keywords %}{{setting.keywords}}{% endblock %}

{% block description %}{{setting.description}}{% endblock %}
{% block head %}<link rel='shorcut icon' type="image/x-icon" href="{{setting.icon.url}}"/>{% endblock %}

{% block content %}
    <div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Change Password</li>
				</ol>
    </div><!--/breadcrums-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
					{% include "user_panel.html" %}
				</div>


                <div class="col-sm-9">
                    <div>
                        <div class="login-form">
                            <h2>User Change Password</h2>
                        </div>
                    </div>
                  {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                  {% endif %}
                  <form method="post">
                      {% csrf_token %}
                      {% for field in form %}
                          <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                          </p>
                        {% endfor %}
                        <button class="btn btn-default" type="submit">Save changes</button>
                    </form>
				</div>
            </div>
        </div>
    </div>



{% endblock %}